numpy
scipy
matplotlib
opencv-python
opencv-contrib-python
imageio
pillow
pandas

rtree
jupyterlab
sympy
scikit-learn

pyyaml
requests
beautifulsoup4
tensorboardX
Cython
EasyDict

tqdm
setproctitle

pyqt5

you-get
youtube-dl

yacs